---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import createSlug from "@/lib/createSlug";
import IconDoubleChevronLeft from "@/components/Icons/IconDoubleChevronLeft.astro";
import IconChevronLeft from "@/components/Icons/IconChevronLeft.astro";
import IconChevronRight from "@/components/Icons/IconChevronRight.astro";
import IconDoubleChevronRight from "@/components/Icons/IconDoubleChevronRight.astro";
import { getFormattedDate } from "@/lib/formatDate";
import { Image, Picture } from "@astrojs/image/components";
import YoutubeLoader from "@/components/YoutubeLoader.astro";

export async function getStaticPaths({ paginate }: any) {
  const videos = await getCollection("tramas");
  const PaginatedVideos = videos
    .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime())
    .filter((item: any) => item.data.privacyStatus === "public");
  return paginate(PaginatedVideos, { pageSize: 1 });
}
const { page } = Astro.props;
---

<Layout
  title={page.data[0].data.title}
  description={page.data[0].body}
  image={page.data[0].data.featuredImage}
>
  <div
    data-pagefind-ignore
    class="flex flex-col items-center justify-start pt-2 md:pt-0 md:justify-center min-h-screen lg:p-0"
  >
    {
      page.data.map(({ data, slug, body, id }: any) => (
        <div class="flex flex-col items-center justify-start w-full pb-24 pt-12 md:pb-0">
          <div class="absolute inset-0 max-h-screen overflow-hidden opacity-50 animate__fadeIn animate__animated blur-xl -z-0">
            <Image
              role="presentation"
              width={500}
              height={500}
              loading="eager"
              decoding="async"
              src={data?.featuredImage}
              alt={data.title}
              class="w-full opacity-10"
            />
          </div>
          <div class="relative z-10 grid w-full max-w-xl gap-3 pt-4 mx-auto lg:gap-8 lg:pt-0 xl:grid-cols-2 xl:max-w-6xl">
            <div class="flex items-center justify-center ">
              <div class="w-full overflow-hidden rounded-xl bg-gray-700/80 aspect-w-16 aspect-h-9">
                <YoutubeLoader
                  title={data.title}
                  featuredImage={data?.featuredImage}
                  video={`https://www.youtube.com/embed/${id.replace(
                    ".mdx",
                    ""
                  )}`}
                />
              </div>
            </div>
            <div class="flex flex-col items-center justify-center ">
              <a
                rel="prefetch"
                href={`/videos/${createSlug(data.title)}`}
                class="w-full max-w-sm mr-auto font-sans text-2xl font-bold text-left duration-300 line-clamp-2 md:line-clamp-3 md:max-w-md md:text-3xl animate__fadeIn animate__animated underline-offset-4 hover:underline"
              >
                {data.title}
              </a>

              <p class="w-full max-w-lg mr-auto mt-3 font-sans text-xl animate__fadeIn animate__animated line-clamp-3 md:line-clamp-4">
                {body}
              </p>
              <div class="flex items-center justify-between w-full mt-4 md:justify-start">
                <time
                  class=" font-mono text-xl italic text-left text-white animate__fadeIn animate__animated"
                  datetime={data.publishedAt}
                >
                  {getFormattedDate(data.publishedAt)}
                </time>
              </div>
            </div>
          </div>
        </div>
      ))
    }
    <div
      class="fixed left-0 right-0 z-40 flex items-center justify-center w-full max-w-xl gap-1 p-3 mx-auto mt-6 sm:mt-12 font-sans text-center bg-gray-900/90 backdrop-blur-md rounded-md md:bg-transparent md:relative lg:p-0 bottom-0 pb-3 xl:mt-20 xl:max-w-3xl"
    >
      {
        page.url.prev ? (
          <div class="grid w-full grid-cols-2 gap-3 md:gap-6">
            <a
              class="flex items-center justify-center py-1 duration-300 rounded-lg tooltip ring ring-gray-500/30 hover:bg-gray-900/50"
              href="/cronologia/"
              rel="prefetch"
              aria-label="Más reciente"
            >
              <IconDoubleChevronLeft />
              <span class="-ml-16 tooltiptext">Más reciente</span>
            </a>
            <a
              class="flex items-center justify-center py-1 duration-300 rounded-lg tooltip ring ring-gray-500/30 hover:bg-gray-900/50"
              href={page.url.prev}
              rel="prefetch"
              aria-label="Anterior video"
            >
              <IconChevronLeft />
              <span class="-ml-20 tooltiptext">Anterior video</span>
            </a>
          </div>
        ) : (
          <div class="grid w-full grid-cols-2 gap-3 md:gap-6 ">
            <span
              class="flex items-center justify-center py-1 duration-300 rounded-lg ring ring-gray-500/30 hover:bg-gray-900/50 opacity-50 !cursor-not-allowed  "
              role="presentation"
            >
              <IconDoubleChevronLeft />
            </span>
            <span
              class="flex items-center justify-center py-1 duration-300 rounded-lg ring ring-gray-500/30 hover:bg-gray-900/50 opacity-50 !cursor-not-allowed  "
              role="presentation"
            >
              <IconChevronLeft />
            </span>
          </div>
        )
      }
      <div
        class="flex items-center justify-center py-1 mx-3 text-white rounded-lg md:mx-5 bg-gray-100/10 ring ring-gray-500/30"
      >
        <span class="flex font-sans md:text-2xl font-bold">
          <span class="w-14 md:w-20">{page.currentPage}</span>
          <span class="">|</span>
          <span class="w-14 md:w-20">{page.total}</span>
        </span>
      </div>
      {
        page.url.next ? (
          <div class="grid w-full grid-cols-2 gap-3 md:gap-6">
            <a
              class="flex items-center justify-center py-1 duration-300 rounded-lg tooltip ring ring-gray-500/30 hover:bg-gray-900/50"
              href={page.url.next}
              rel="prefetch"
              aria-label="Siguiente video"
            >
              <IconChevronRight />
              <span class="-ml-20 tooltiptext">Siguiente video</span>
            </a>
            <a
              class="flex items-center justify-center py-1 duration-300 rounded-lg tooltip ring ring-gray-500/30 hover:bg-gray-900/50"
              href={`/cronologia/${page.total}`}
              rel="prefetch"
              aria-label="Ir al primer video"
            >
              <IconDoubleChevronRight />
              <span class="tooltiptext -ml-28">Ir al primer video</span>
            </a>
          </div>
        ) : (
          <div class="grid w-full grid-cols-2 gap-3 md:gap-6">
            <span
              class="opacity-50 flex items-center justify-center  hover:bg-gray-900/50 py-2 rounded-lg duration-300 !cursor-not-allowed  "
              role="presentation"
            >
              <IconChevronRight />
            </span>
            <span
              class="opacity-50 flex items-center justify-center  hover:bg-gray-900/50 py-2 rounded-lg duration-300 !cursor-not-allowed  "
              role="presentation"
            >
              <IconDoubleChevronRight />
            </span>
          </div>
        )
      }
    </div>
  </div>
</Layout>

<style is:global>
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: flex;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    @apply invisible w-40 duration-300 font-bold text-lg opacity-0 bottom-12 left-1/2 md:!-ml-20 bg-gray-900/95 text-white font-sans text-center py-1 px-3 rounded-lg z-10 absolute;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>
