---
import { CollectionEntry, getCollection } from "astro:content";
import Pagination from "@/components/Pagination.astro";
import Layout from "@/layouts/Layout.astro";
import createSlug from "@/lib/createSlug";
import { getFormattedDate } from "@/lib/formatDate";
import { Image, Picture } from "@astrojs/image/components";
import YoutubeLoader from "@/components/YoutubeLoader.astro";
import IconPlayVideo from "@/components/Icons/IconPlayVideo.astro";

export async function getStaticPaths({ paginate }: any) {
  const videos = await getCollection("tramas");
  const PaginatedVideos = videos
    .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime())
    .filter((item: any) => item.data.privacyStatus === "public");
  return paginate(PaginatedVideos, { pageSize: 12 });
}
const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;
---

<Layout title={`Tramas ${currentPage > 1 ? `— página ${currentPage} ` : ""}`}>
  <main class="py-12 gap-6 flex flex-col">
    <h1
      class="text-6xl mt-16 mb-6 font-sans w-full text-center md:text-left max-w-6xl mx-auto"
    >
      Tramas
    </h1>
    <div
      role="list"
      class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 max-w-xs md:max-w-6xl w-full mx-auto"
    >
      {
        page.data.map(({ data }: any) => (
          <a
            href={`/tramas/${createSlug(data?.title)}`}
            rel="prefetch"
            class="relative h-64 w-full flex ring-slate-200 flex-col items-center ring  shadow-xl justify-center hover:ring-amber-600 overflow-hidden bg-gray-800  rounded-lg group duration-300"
          >
            <div class="z-20 relative  duration-700">
              <div class=" animate__fadeIn animate__animated bg-gray-900 animate__delay-1s">
                <Image
                  decoding="async"
                  loading="lazy"
                  height={350}
                  width={450}
                  aspectRatio="3:1"
                  fit="cover"
                  format="webp"
                  src={data?.featuredImage}
                  alt={data?.title}
                  class="object-cover object-center w-full h-full duration-700 scale-[1.3] opacity-60 group-hover:md:opacity-70  group-hover:scale-[1.4]  sm:h-full sm:w-full "
                />
              </div>
            </div>
            <div class="absolute animate__fadeIn animate__animated animate__delay-1s justify-end items-start bg-gradient-to-b from-transparent via-slate-900/20 to-slate-900/60 inset-0 z-30 flex flex-col p-3">
              <span class="p-2 pb-4 hover:underline underline-offset-4 font-sans text-2xl font-bold text-left text-white duration-700  line-clamp-3">
                {data?.title}
              </span>
            </div>
            {data.featuredVideo &&
               <div class="absolute w-20 h-20 inset-0 z-20">
              <IconPlayVideo/>
                </div>
            }
            <div class="inset-0 z-10 absolute flex w-full h-full bg-gray-100 justify-center items-center">
              <div class="!opacity-30 spinner">
                <span />
                <span />
                <span />
              </div>
            </div>
          </a>
        ))
      }
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </main>
</Layout>
