---
import { Image } from "@astrojs/image/components";
const { images } = Astro.props;
---

<div class="max-w-4xl w-full mx-auto">
  <div
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
    class="swiper mySwiper2"
  >
    <div class="swiper-wrapper">
      {
        images.map((i) => {
          return (
            <a  class="swiper-slide glightbox" href={i}>
              <Image
                alt={i}
                src={i}
                width={1600}
                height={1280}
                class="object-cover w-full h-96"
                format="webp"
              />
            </a>
          );
        })
      }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper mySwiper mt-3">
    <div class="swiper-wrapper">
      {
        images.map((i) => {
          return (
            <div class="swiper-slide cursor-pointer hover:opacity-60">
              <Image
                alt={i}
                src={i}
                width={1600}
                height={1280}
                class="object-cover w-full h-32"
                format="webp"
              />
            </div>
          );
        })
      }
    </div>
  </div>
</div>

<script>
  import GLightbox from "glightbox";
  document.addEventListener("DOMContentLoaded", () => {
    const glightbox = GLightbox({
      /* options */
    });
  });
</script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 10,
    slidesPerView: 3,
    freeMode: true,
    watchSlidesProgress: true,
  });
  var swiper2 = new Swiper(".mySwiper2", {
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>

<style>
  .swiper {
    @apply w-full select-none;
  }
</style>
