---
import { Image } from "@astrojs/image/components";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  location?: string;
  featuredImage: string;
  coAuthor?: string;
}>;

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter } = Astro.props;

---

<div data-pagefind-body class="min-h-screen z-0">
  <div class="min-h-screen relative flex justify-center bg-gray-900 items-center">
    <div class="absolute inset-0 z-0 opacity-30 max-h-screen overflow-hidden">
      <Image
        height={1200}
        width={1600}
        fit="cover"
        format={"webp"}
        alt={frontmatter.title}
        class="object-cover w-full h-screen md:h-auto"
        src={frontmatter?.featuredImage}
      />
    </div>
    <div class="relative text-center text-white z-40">
      <h1 class="text-4xl font-medium md:text-6xl">
        {frontmatter.title}
      </h1>
      <h3 class="text-xl my-2 font-medium md:text-xl">
        {frontmatter.location}
      </h3>
      {
        frontmatter.coAuthor && (
          <p class="uppercase text-sm mt-6">{frontmatter.coAuthor}</p>
        )
      }
    </div>
  </div>
  <div class="pb-24 w-full mt-12 font-sans">
    <article class="prose prose-lg max-w-full md:prose-xl" id="article">
      <slot />
    </article>
    <div class="py-12 flex justify-center items-center max-w-md w-full mx-auto">
      <a href="/tramas" class="btn red w-full">
        Volver a la trama
      </a>
    </div>
  </div>
  <Image
    height={187}
    width={280}
    fit="cover"
    format={"webp"}
    alt={frontmatter.title}
    class="object-cover hidden min-h-screen"
    data-pagefind-meta="image[src]"
    src={frontmatter?.featuredImage}
  />
</div>

